body{
  padding: 0;
  margin: 0;
}
.additional-information-container{
  background-color: #F7F9FA;
}
.additional-info-title{
  text-align: center;
  padding-top: 0.5em;
}
.container-fluid{
  display: flex;
}
.titledonate{
  color: #7395CF;
}
.googlemapcontainer{
  width: 800px;
}
#map {
  height: 300px;
  width: 100%;
  /*width: 40em;*/
  background-color: grey;
}
.row-middle{
  display: -webkit-flex;
  display: flex;
}
.how-to-donate-container{
  padding: 2em;
}
.volunteer-images{
  width:575px;
  height: 514px;
  padding: 2em;
  /*border-radius: 10px;*/
}
.words{
  padding: 3em;
  margin-left: 45%;
}
.words-left{
  margin-left:12%;
  padding-right: 1%;
}
.words-right{
  margin-left: 10%;
  padding-right: 3%;
}
/*.image-right{
  float: right;
}*/
.flexit{
display: flex;
}
.donationlocation{
  display: flex;
}
.donationofbikesandmoney{
  padding: 3em;
}
.quotefooter{
  text-align: center;
  margin-top: 5%;
  margin-bottom: -4%;
  font-size: 15px;
}
.horizontal_dotted_line{
  border-bottom: 3px dotted lightgrey;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
}
#aboutlink{
  color: darkgrey;
  padding-right: 1em;
  text-decoration: none;
}
#aboutlink:hover{
  text-decoration: underline;
  font-weight: bold;
}
#copyright{
  text-align: center;
}
footer{
  display: flex;
  margin-left: 10%;
  color: darkgrey;
  align-items: center;
  text-align: center;
}
