body{
  margin: 0;
  padding: 0;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.15em;
  color: #576366;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  /*transform: rotate(180deg);*/
}
/*#menutransform{
  transform: rotate(180deg);
}
#menutransform{
  transform: rotate(-180deg);
}*/
/*ul.topnav li {float: left;
  text-direction:row-reverse;
}
ul.topnav li hi {float: left;}*/
ul.topnav li {float: right;}
ul.topnav li hi {float: right;}
ul.topnav li a {
  display: inline-block;
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  float: right;
}

ul.topnav li a:hover {
  /*border-bottom: 2px #555 solid;*/
  /*text-decoration: underline;*/
}
.menulink:hover{
  text-decoration: underline;
  text-decoration-color: #679DD2 !important;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
#mainimg1{
  width:100%;
  border-top: 3px solid #5B9BD5;
  max-height: 450px;

  /*image-resolution: 100dpi;*/
  /*image-rendering: pixelated;*/
  /*image-rendering: auto !important;*/
  /*image-rendering: crisp-edges !important;*/
  /*image-rendering: pixelated;*/
}
#recbikelogo{
  height:100px;
  width:100px;
  margin-left:2%;
  margin-top:1%;
  /*margin-bottom:1%;*/
}
#partiallisttitle{
  text-align: center;
  margin-top: 2%;
  font-weight: bold;
}
#donatebikebutton{
  background-color: transparent;
  border: 2px solid green;
  border-bottom: 5px solid green;
  border-radius: 4px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: .5%;
  padding-bottom: .5%;
  font-size: 20px;
  margin-top: -70%;
}
#donatebikebutton a{
  color: green !important;
}

/*buttons that need to be optimized*/
#donatebikebutton:hover{
  background-color: darkgreen;
}
#donatebikebutton:hover a{
  color: white !important;
}
.additional-information-container{
  background-color: #F7F9FA;
}
.additional-info-title{
  text-align: center;
  padding-top: 0.5em;
}
.container-fluid{
  display: flex;
}
.titledonate{
  color: #7395CF;
}
.googlemapcontainer{
  width: 800px;
}
#map{
  height: 400px;
  max-width: 100%;
  background-color: grey;
}
/*#map {
  height: 300px;
  width: 100%;
  background-color: grey;
}*/
.row-middle{
  display: -webkit-flex;
  display: flex;
}
.how-to-donate-container{
  padding: 2em;
}
.volunteer-images{
  width:575px;
  height: 514px;
  padding: 2em;
  /*border-radius: 10px;*/
}
.words{
  padding: 3em;
  margin-left: 45%;
}
.words-left{
  margin-left:12%;
  padding-right: 1%;
}
#words-left1{
  margin-left: 12%;
  width: 420px;
}
#words-left{
  margin-left: 12%;
  width: 430px;
}
.words-right{
  margin-left: 10%;
  padding-right: 3%;
}
form{
  align-items: center;
  text-align: center;
}
#paypal-donation-title{
  text-align: center;
}
/*.image-right{
  float: right;
}*/
/*dt, dd {float: left; display: block; width: 50%}
dt {clear: left;}
#container {
  display: table;
  }*/

/*#row  {
  display: table-row;
  }

#left, #right, #middle {
  display: table-cell;
  }*/
.flexit{
display: flex;
}
.donationlocation{
  display: flex;
  /*flex-wrap: wrap;*/
}
.donationofbikesandmoney{
  padding: 3em;
  flex-wrap: wrap;
}
.quotefooter{
  text-align: center;
  margin-top: 5%;
  margin-bottom: -4%;
  font-size: 15px;
}
.horizontal_dotted_line{
  border-bottom: 3px dotted lightgrey;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
}
#aboutlink{
  color: darkgrey;
  padding-right: 1em;
  text-decoration: none;
}
#aboutlink:hover{
  text-decoration: underline;
  font-weight: bold;
}
#copyright{
  text-align: center;
}
footer{
  display: flex;
  margin-left: 10%;
  color: darkgrey;
  align-items: center;
  text-align: center;
}



/*GOOGLE MAPS API INFO WINDOW STYLING*/
/*#map {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}*/
.gm-style-iw {
    width: 355px !important;
    top: 15px !important;
    left: 0px !important;
    right:0px !important;
    /*background-color: #fff;*/
    /*text-decoration: underline;
    color: #7798CD;*/
    /*border-bottom: #7798CD 2px solid;*/
    /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
    /*border: 1px solid rgba(72, 181, 233, 0.6);*/
    /*border-radius: 2px 2px 10px 10px;*/
}
#iw-container {
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 5px;
    text-decoration: underline;
    color: #7798CD;
    /*background-color: #48b5e9;*/
    /*color: white;*/
    margin: 0;
    text-align: center;
    /*border-radius: 2px 2px 0 0;*/
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    /*overflow-x: hidden;*/
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    margin-top: 2px;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.iw-directions{
  border: 1px #7798CD solid;
  color: white;
  background-color:#7798CD;
  text-decoration: none;
  margin-top: 10px !important;

  padding-left: 2%;
  padding-top: .5%;
  padding-right: 2%;
  padding-bottom: .5%;
  align-content: center;
}
.iw-directions:hover{
  color: #7798CD;
  background-color:white;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
#myBtn{
  border: 1px #7798CD solid;
  color: white;
  background-color:#7798CD;
  text-decoration: none;
  margin-top: 10px !important;

  padding-left: 2%;
  padding-top: .5%;
  padding-right: 2%;
  padding-bottom: .5%;
  align-content: center;
}
#myBtn:hover{
  color: #7798CD;
  background-color:white;
}
#donation-locations-modal{
  color: #7798CD;
  text-decoration: underline;
}
.location-style{
  font-weight: bold;
}
.directions-modal{
  color: #7798CD;
  text-decoration-color: #7798CD;
}
.directions-modal:hover{
  color: blue;
  text-decoration-color: blue;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/*NAV BAR*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

/*li {
    float: left;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.googlemapcontainer{
  max-width: 300px ;
}
#map{
  height: 300px;
  /*max-width: 100%;*/
  background-color: grey;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
