body{
  padding: 0;
  margin: 0;
}
.additional-information-container{
  background-color: #F7F9FA;
}
.additional-info-title{
  text-align: center;
}
.container-fluid{
  display: flex;
}
.row-middle{
  flex-direction: row;
}
.volunteer-images{
  width:575px;
  height: 514px;
  padding:
}
